In [24]:
import numpy  as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib

In [25]:
SMALL_SIZE = 16
MEDIUM_SIZE = 16
BIGGER_SIZE = 18

matplotlib.rc('font', size=SMALL_SIZE)          # controls default text sizes
matplotlib.rc('axes', titlesize=SMALL_SIZE)     # fontsize of the axes title
matplotlib.rc('axes', labelsize=MEDIUM_SIZE)    # fontsize of the x and y labels
matplotlib.rc('xtick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
matplotlib.rc('ytick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
matplotlib.rc('legend', fontsize=SMALL_SIZE)    # legend fontsize
matplotlib.rc('figure', titlesize=BIGGER_SIZE)  # fontsize of the figure title

In [26]:
data1 = pd.read_excel('data/data1.xlsx')
data1.head()

,Unnamed: 0,зеленный,светодоид,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,накачка,NaN,выход,NaN,"W, мватт",NaN,NaN,NaN,NaN,NaN
1,NaN,"V, В","I, мА","I, мкА",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2.44,0.14,0.199,NaN,2.58,NaN,NaN,NaN,NaN,NaN
3,NaN,2.58,0.52,0.74,NaN,3.1,NaN,NaN,NaN,NaN,NaN
4,NaN,2.66,1.04,1.43,NaN,3.7,NaN,NaN,NaN,NaN,NaN

In [27]:
P_green_led = data1['Unnamed: 5'][2:15]  # mW
I_green_led = data1['Unnamed: 3'][2:15]  # mkA

P_red_led = data1['Unnamed: 5'][17:25]
I_red_led = data1['Unnamed: 3'][17:25]

P_blue_led = data1['Unnamed: 5'][31:37]
I_blue_led = data1['Unnamed: 3'][31:37]

P_lazer = data1['Unnamed: 5'][40:46]
I_lazer = data1['Unnamed: 3'][40:46]

P_lazer2 = data1['Unnamed: 8'][40:45]*data1['Unnamed: 9'][40:45]
I_lazer2 = data1['Unnamed: 10'][40:45]

In [ ]:
plt.figure(figsize=(10,6))

plt.plot(P_green_led, I_green_led, label='Green led', c='green')
plt.scatter(P_green_led, I_green_led, c='green')
plt.plot(P_red_led, I_red_led, label='Red led', c='red')
plt.scatter(P_red_led, I_red_led, c='red')
plt.plot(P_blue_led, I_blue_led, label='Blue led', c='blue')
plt.scatter(P_blue_led, I_blue_led, c='blue')

plt.xlabel('P, mW')
plt.ylabel(r'$I_{out},\; mkA$')

plt.grid()
plt.minorticks_on()
plt.grid(which='minor', linestyle=':', color='gray')

plt.legend()

plt.savefig('pictures/WW-leds.png', dpi=600)

plt.show()