In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
data = pd.read_excel('WWc.xlsx')
data

       U      I        P    I out    obj
0   2.44   0.14   0.3416    0.199  green
1   2.58   0.52   1.3416    0.740    NaN
2   2.66   1.04   2.7664    1.430    NaN
3   2.68   1.29   3.4572    1.940    NaN
4   2.70   1.52   4.1040    2.230    NaN
5   2.73   1.92   5.2416    2.800    NaN
6   2.76   2.68   7.3968    3.750    NaN
7   2.79   3.32   9.2628    4.660    NaN
8   2.86   5.40  15.4440    7.160    NaN
9   2.88   6.10  17.5680    7.750    NaN
10  2.93   8.40  24.6120    9.980    NaN
11  2.98  10.60  31.5880   12.770    NaN
12  3.04  15.38  46.7552   15.730    NaN
13   NaN    NaN      NaN      NaN    NaN
14  2.28   0.24   0.5472    0.240    red
15  2.65   0.71   1.8815    0.900    NaN
16  2.97   1.52   4.5144    2.330    NaN
17  3.13   2.06   6.4478    3.370    NaN
18  3.40   3.33  11.3220    5.920    NaN
19  3.64   4.87  17.7268    8.960    NaN
20  3.83   6.75  25.8525   12.030    NaN
21  4.11   9.80  40.2780   18.220    NaN
22   NaN    NaN      NaN      NaN    NaN
23  2.77   0.36   0.9972    0.770   blue
24  2.96   0.63   1.8648    1.420    NaN
25  3.17   0.94   2.9798    2.260    NaN
26  3.69   1.50   5.5350    4.420    NaN
27  4.12   2.38   9.8056    6.290    NaN
28  4.60   3.20  14.7200    8.370    NaN
29   NaN    NaN      NaN      NaN    NaN
30  1.89   2.69   5.0841    0.280  laser
31  1.99   5.19  10.3281    0.780    NaN
32  2.04   7.25  14.7900    1.370    NaN
33  2.13  10.83  23.0679    3.410    NaN
34  2.47  18.40  45.4480  489.600    NaN
35  2.51  18.50  46.4350  491.500    NaN

In [36]:
green = data[data[data.obj=='green'].index[0] : data[data.obj=='red'].index[0]-1]
red = data[data[data.obj=='red'].index[0] : data[data.obj=='blue'].index[0]-1]
blue = data[data[data.obj=='blue'].index[0] : data[data.obj=='laser'].index[0]-1]
laser = data[data[data.obj=='laser'].index[0]:-1]

       U     I        P  I out   obj
23  2.77  0.36   0.9972   0.77  blue
24  2.96  0.63   1.8648   1.42   NaN
25  3.17  0.94   2.9798   2.26   NaN
26  3.69  1.50   5.5350   4.42   NaN
27  4.12  2.38   9.8056   6.29   NaN
28  4.60  3.20  14.7200   8.37   NaN